* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#nav1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(238, 238, 238);
    height: 25px;
    position: sticky;
    top: 0;
}

#nav1 div a {
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
    margin-left: 15px;
    font-size: 12px;
    letter-spacing: 1px;
}

/* second nav bar */
#nav2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav2 div {
    display: flex;
    align-items: center;

}

#nav2 :first-child img {
    width: 40%;
}

#nav2 div a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

#nav2 div img {
    width: 23px;
}

#nav2 :nth-last-child(1) {
    margin-left: 10px;
}

#nav2 div button {
    background: none;
    border: none;
}

#search {
    width: 250px;
    height: 40px;
    background-color: rgb(234, 234, 234);
    border-radius: 5px;
    border: none;

}

/* third nav bar */

#nav3 {
    margin-top: 10px;
}

#nav3 div {
    text-align: center;
}

#nav3 div a {
    margin-left: 50px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: montserrat, sans-serif;

}

/* first menu */

#first {
    display: flex;
    gap: 13px;
    margin-top: 20px;
    margin-left: 13px;
    margin-bottom: 20px;
}

/* second */


#second img {
    width: 100%;
}

/* third */

#third {
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

#third div img {
    width: 80%;
}

#third p {
    font-weight: bold;
    font-family: montserrat, sans-serif;
    letter-spacing: 0.5px;
}

/* fourth */

#fourth {
    width: 100%;
    display: flex;

}

#fourth img:nth-child(1) {
    width: 50%;
}

#fourth img:nth-child(2) {
    width: 50%;
}

#FourH3 {
    font-family: montserrat, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: x-large;
}

/* fifth */

#fifth {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#fifth img {
    width: 100%;
}

#FifthH3 {
    font-family: montserrat, sans-serif;
    letter-spacing: 2.5px;
    text-align: center;
    font-size: x-large;
}

/* sixth */

#sixth1 {
    width: 100%;
    display: flex;
    gap: 10px;

}

#sixth1 img:nth-child(1) {
    width: 50%;
}

#sixth1 img:nth-child(2) {
    width: 50%;
}

#sixth2 {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 15px;

}

#sixth2 img:nth-child(1) {
    width: 50%;
}

#sixth2 img:nth-child(2) {
    width: 50%;
}

#sixh3 {
    font-family: montserrat, sans-serif;
    letter-spacing: 2.5px;
    text-align: center;
    font-size: x-large;
}

/* seventh */

#sevenH3 {
    font-family: montserrat, sans-serif;
    letter-spacing: 2.5px;
    text-align: center;
    font-size: x-large;
}

#seventh{
    display: flex;
}

#seventh img{
    width: 100%;
}

/* eight */

/* ninth */

#ninth{
    display: flex;
}
#ninth img{
    width: 100%;
}

/* tenth */
#tenth1 {
    width: 100%;
    display: flex;
    gap: 10px;

}

#tenth1 img:nth-child(1) {
    width: 50%;
}

#tenth1 img:nth-child(2) {
    width: 50%;
}

#tenth2 {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px ;

}

#tenth2 img:nth-child(1) {
    width: 50%;
}

#tenth2 img:nth-child(2) {
    width: 50%;
}

#eleventh img{
    width: 100%;
}

#twelfth img{
    width: 100%;
}

#twelfth{
    margin-top: 15px;
}


/* footer */

#FooterMain{
    width: 100%;
}

#Footer1{
    display: flex;
    width: 70%;
    margin: auto;
}

#facebook{
    display: flex;
}
#fbimg{
   width: 40px;
}
#fbimg img{
    width: 100%;
}

#instagram{
    display: flex;
}
#igimg{
   width: 40px;
}
#igimg img{
    width: 100%;
}





